{% extends "../base.html" %}
{% load static %}
{% block title %}Password reset confirm{% endblock %}
{% block content %}
<h2>Confirm Password Reset</h2>
<form method="post">
    {% csrf_token %}
    <input type="hidden" name="uidb64" value="{{ uidb64 }}">
    <input type="hidden" name="token" value="{{ token }}">
    <input type="password" name="new_password1" placeholder="New Password" required>
    <input type="password" name="new_password2" placeholder="Confirm New Password" required>
    <button type="submit">Confirm</button>
</form>
{% endblock %}
