body {
    background-color: white;
    
}
#formulario-comentario {
    width: 50%;
    margin: 20px auto;
    padding: 10px;
    border: 1px solid #ccc;
  }
  
  #formulario-comentario label {
    display: block;
    margin-bottom: 5px;
  }
  
  #formulario-comentario input[type="text"],
  #formulario-comentario textarea {
    color: white;
    background-color: #3d3d3d;
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  #formulario-comentario button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  #comentarios {
    margin: 20px auto;
    padding: 10px;
    border: 1px solid #ccc;
    height: 300px;
    overflow-y: scroll;
  }
  .zoomable-image {
    position: relative;
    overflow: hidden;
}
.zoomable-image img {
    transition: transform 0.5s;
}
.zoomable-image:hover img {
    transform: scale(1.2);
}
#favorite-button {
  background-color: white;
  border: none;
  color: #000000;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

#favorite-button.active {
  background-color: red;
  color: #FFFFFF;
}
#colores{
  color: white;
  background-color: #3d3d3d;
}
.container{ 
  background-color: #3d3d3d;
  color: white;
}
#prueba{
  background-color: #000000;
  color: white;
}
body{
  background-color:#3d3d3d;
  color: white;
}
