

.product-image {
  height: 150px;
  object-fit: cover;
}
body{
  background-color: white;
}
.product-title {
    height: 50px;
    overflow: hidden;
    padding: 0 5px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
  
  .card:hover {
    transform: scale(1.05);
    transition: transform 0.3s;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  }
  
  .col {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    min-width: 250px; 
  }

  .card {
    width: 100%; 
  }
  
  .row {
    width: 100%;
  }
  .custom-container {
    max-width: 100%; 
  }
  .carousel-item {
    max-height: 500px;
    height: 500px;
    width: 1000px;
    justify-content: center;
  }
  .carousel-container {
    display: flex;
    justify-content: center;
  }
  .carousel-img {
    max-width: 1000px;
    max-height: 500px;
    object-fit:scale-down;
  }
  #Fondo{
    background-color: rgb(153, 153, 153);
  }